
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.tayempic{
    width: 150px;
}

body {
    min-height: 100vh;
    background: linear-gradient(rgb(233, 233, 255), rgb(94, 89, 165));
}

.sidebar {
    width: 270px;
    position: fixed;
    margin: 16px;
    border-radius: 16px;
    background: #151A2D;
    height: calc(100vh - 32px)
}

.sidebar-header {
    display: flex;
    padding: 25px 20px;
    align-items: center;
    justify-content: space-between; 
}

.sidebar-header .header-logo img {
    width: 46px;
    height: 46px;
    display: block;
    object-fit: contain;
    border-radius: 50;
}

.sidebar-header .toggler {
    height: 35px;
    width: 35px;
    border: none;
    color: #151A2D;
    display: flex;;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    background: #fff;
    transition: 0.4s ease;
}

.sidebar-header .toggler:hover {
    background: #dde4fb;
}

.sidebar-header .toggler  span {
    font-size: 1.75rem;
}

.sidebar-nav .nav-list{
    list-style : none;
    display: flex;
    gap: 4px;
    padding: 0 15px;
    flex-direction: column;
    transform: translateY(15px);
}

.sidebar-nav .nav-link {
    color: #fff;
    display: flex;
    gap: 12px;
    border-radius: 8px;
    align-items: center;
    padding: 12px 15px;
    text-decoration: none;
    transition: 0.4s ease
}

.sidebar-nav .nav-link:hover {
    color: #151A2D;
    background: #fff;
}

.hi {
    margin-left: 325px;
    padding-top: 275px;
}

h1{
    font-size: 50px;
    margin-left: 325px;
    padding-top: 300px;
}


button {
    color: rgb(0, 230, 161);
    background-color: #151a2d00;
    border: 3px solid;
    padding: 7.5px;
    margin-left: 325px;
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: rgb(0, 230, 161);
}

.cards{
    margin-left: 375px;
    padding-top: 320px;
    display: flex;
    gap: 100px
}

#mail {
    margin-left: 325px;
    padding-top: 20px;
    color: white;
    display: flex;
}

#whatsapp{
    margin-left: 325px;
    padding-top: 20px;
    color: white;
    display: flex;
}

#email {
    padding-top: 1.5px;
    padding-left: 10px;
}

#number {
    padding-top: 1.5px;
    padding-left: 10px;
}